#################
# General stuff #
#################

# OS X settings
*.DS_Store
*.icloud

# Jupyter Notebook temporary files
*.ipynb_checkpoints

# Python pre-compiled files
**/__pycache__/**
*.cpython
*.pyc

# Icons on OSX
*Icon^M

#####################
# Project dependent #
#####################